html, body {
	height: 100%;
	overflow: scroll;
}

/* BACKGROUND */

.background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	height: 100vh;
	width: 100%;
	opacity: 0.6;
	z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/* HEADER BAR */

.home-active {
	background-color: black;
	color: white !important;
}

.home-active:hover {
	background-color: black !important;
}

/* GENERAL */

.mobile-wrap {
	padding-top: 50px;
	width: 100%;
}

.container {
	height: 100vh;
}

.web {
	padding-top: 50px;
}

.col-xs-2 {
	position: relative;
}

.home {
	background-color: #F5F7FA;
	width: 100%;
	height: 100%;
	border-radius: 2%;
	margin-bottom: 20px;
	position: relative;
}

.home p, h4, h5 {
	padding-left: 4%;
	padding-right: 4%;
}

.home-mobile p, h4, h5, button {
	padding-left: 4%;
	padding-right: 4%;
}

.home-mobile {
	background-color: #F5F7FA;
	width: 100%;
	border-radius: 2%;
	margin-bottom: 20px;
	position: relative;
	display: block;
	overflow: auto;
}

.home-hr {
	border-color: #434A54;
	width: 20%;
	text-align: left;
	margin-left: 4%;
}

.footer {
	color: white;
	margin-top: -30px;
}

.footer-m {
	color: white;
}

.footer-hr {
	border: solid 1px white;
	width: 10%;
	text-align: left;
	margin-left: 0;
	margin-top: 2%;
}

.footer-col {
	padding: 4%;
}

.footer-col p {
	font-size: 10px;
}

.func-col {
	width: 100%;
	padding-left: 2%;
}

/* TEXT FORMATTING */

.image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.image-text-small {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.05vh;
	padding-top: 40px;
}

.image-text-mobile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
}

.addendum {
	margin-top: 4vh;
}

.time-wrapper {
	height: 60px;
	padding: 5px;
}

.time {
	font-size: 24px !important;
}

.functionality {
	font-size: 12px;
	padding-left: 1%;
}

.copyright {
	text-align: center;
	padding-bottom: 1%;
}

.col-xs-4 p {
	font-size: 10px;
	line-height: 1;
}

.col-xs-6 p {
	font-size: 10px;
	line-height: 1;
}

#adds1, #adds2, #adds3, #adds4, #adds5, #lokkie, #yolna, #nahvi, #yandir, #vrol, #falgravn,
#hunter_killers, #factotum, #archcustodian, #triplets, #assembly_general, #zmaja, #oaxiltso,
#bahsei, #xalvakka, #idle {
	text-align: center;
	font-size: 36px;
}

/* SLIDER */

.slick-prev {
	margin-left: 5%;
	z-index: 1;
}

.slick-next {
	margin-right: 5%;
	z-index: 1;
}

/* MECH TIMERS */
.countdown {
	text-align: center;
}

.countdown-values {
	font-size: 30px;
}

/* BUTTONS */

.btn-idle {
	color: white;
	background-color: #434A54;
	padding: 10px;
	margin-top: 15%;
}

.btn-idle:hover {
	color: white;
	background-color: #656D78;
}

.btn-success {
	background-color: #309146;
	border: solid 1px #309146;
}

.btn-success:hover {
	background-color: #267338;
}

.btn-danger {
	background-color: #C3272B;
	border: solid 1px #C3272B;
}

.btn-danger:hover {
	background-color: #8F1D21;
}

.btn-all {
	color: white;
	background-color: #434A54;
}

.mech-btn {
	margin: 5px;
	padding: 5px;
	background-color: #4A89DC;
	border-radius: 4px;
	height: 30px;
	width: 100%;
	color: white;
}

.mech-btn:hover {
	background-color: #5D9CEC;
	color: white;
}

.mech-btn:active {
	background-color: #4A89DC;
	border: 1px solid #5D9CEC;
}

.mech-active {
	background-color: #DA4453 !important;
}

.mech-active:hover {
	background-color: #ED5565 !important;
}

.mech-active:active {
	background-color: #DA4453 !important;
	border: 1px solid #ED5565;
}

.mech-btn-m {
	margin: 5px;
	padding: 5px;
	background-color: #4A89DC;
	border-radius: 4px;
	height: 30px;
	color: white;
	text-align: center;
}

.mech-btn-m:hover {
	background-color: #5D9CEC;
	color: white;
}

.mech-btn-m:active {
	background-color: #4A89DC;
	border: 1px solid #5D9CEC;
}

.mech-active-m {
	background-color: #DA4453 !important;
}

.mech-active-m:hover {
	background-color: #ED5565 !important;
}

.mech-active-m:active {
	background-color: #DA4453 !important;
	border: 1px solid #ED5565;
}

/* PROGRESS BAR */
.progress-bar {
	margin-left: -2%;
	position: absolute;
	width: 0px;
	background-color: #DA4453;
	opacity: 40%;
}

.prog-m {
	margin-left: -1.5% !important;
}

/* VHOF SPECIFIC */

.hof {
	padding-left: 20vh;
}

.b-image {
	width: 100%;
	padding-top: 3%;
}
