html, body {
	height: 100%;
	overflow: scroll;
}

/* BACKGROUND */

.background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	height: 100vh;
	width: 100%;
	opacity: 0.6;
	z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/* HEADER BAR */

#title-header {
	background-color: #434A54;
	width: 100%;
	height: 14vh;
	margin-top: -30px;
	padding-top: 2.5vh;
	position: fixed;
	z-index: 5;
}

.title {
	text-align: center;
	font-size: 4vh;
	color: white;
	vertical-align: center;
}

.raid-title {
	text-align: center;
	font-size: 2.5vh;
	color: white;
	vertical-align: center;
	padding: 1.71vh 0 2.5vh;
}

.raid-title:hover {
	background-color: #656D78;
}

.selected-title {
	border-bottom: solid thin white;
}

.home-active {
	background-color: black;
	color: white !important;
}

.home-active:hover {
	background-color: black !important;
}

/* GENERAL */

.mobile-wrap {
	padding-top: 50px;
}

.container {
	height: 100vh;
}

.web {
	padding-top: 50px;
}

.col-xs-2 {
	position: relative;
}

.home {
	background-color: #F5F7FA;
	width: 100%;
	height: 100%;
	border-radius: 2%;
	margin-bottom: 20px;
	position: relative;
}

.home p, h4, h5 {
	padding-left: 2%;
}

.home-hr {
	border-color: #434A54;
	width: 20%;
	text-align: left;
	margin-left: 2%;
}

.footer {
	color: white;
}

.footer-hr {
	border: solid 1px white;
	width: 10%;
	text-align: left;
	margin-left: 0;
	margin-top: 2%;
}

.footer-col {
	padding: 2%;
}

.footer-col p {
	font-size: 10px;
}

/* TEXT FORMATTING */

.image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.image-text-small {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.05vh;
	padding-top: 40px;
}

.image-text-mobile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
}

.addendum {
	margin-top: 4vh;
}

.time-wrapper {
	height: 60px;
	padding: 5px;
}

.time {
	font-size: 24px !important;
}

.functionality {
	font-size: 12px;
}

.copyright {
	text-align: center;
	padding-bottom: 1%;
}

#adds1, #adds2, #adds3, #adds4, #adds5, #lokkie, #yolna, #nahvi, #yandir, #vrol, #falgravn,
#hunter_killers, #factotum, #archcustodian, #triplets, #assembly_general, #zmaja, #idle {
	text-align: center;
	font-size: 36px;
}

/* CAROUSELS */

#timer_carousel {
	width: 50%;
	height: 50%;
	margin: auto;
	top: 10%;
}

/* BUTTONS */

.btn-idle {
	color: white;
	background-color: #434A54;
	padding: 10px;
	margin-top: 15%;
}

.btn-idle:hover {
	color: white;
	background-color: #656D78;
}

.btn-success {
	background-color: #309146;
	border: solid 1px #309146;
}

.btn-success:hover {
	background-color: #267338;
}

.btn-danger {
	background-color: #C3272B;
	border: solid 1px #C3272B;
}

.btn-danger:hover {
	background-color: #8F1D21;
}

.btn-all {
	color: white;
	background-color: #434A54;
}

/* VHOF SPECIFIC */

.hof {
	padding-left: 20vh;
}

.hof-idle {
	padding-right: 10px;
}

.b-image {
	width: 100%;
	padding-top: 3%;
}

/* VCR SPECIFIC */

.vcr {
	font-size: 32px;
}
